.react-calendar {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;

  .dark & {
    background-color: transparent;
  }

  &__tile {
    border: 2px solid transparent;
  }

  &__tile--active {
    background-color: #3f51b5;
    color: #fff !important;
    &.react-calendar__tile--now {
      background-color: #f44336 !important;
      color: #fff !important;
    }
  }

  &__tile--now {
    border-color: #f44336;
  }

  &__navigation button {
    background-color: transparent;
    border: none;
    color: #3f51b5;
    cursor: pointer;
    font-size: 16px;
    outline: none;

    &:disabled {
      color: #ccc;
      cursor: default;
    }

    &:hover:not(:disabled) {
      text-decoration: none;
    }

    &--prev,
    &--next {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease-in-out;

      &:hover:not(:disabled) {
        background-color: #f5f5f5;
      }

      & svg {
        fill: #3f51b5;
      }

      &--disabled {
        opacity: 0.5;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &__month-view__weekdays {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #9e9e9e;

    &__weekday {
      padding: 8px;
    }
  }

  &__month-view__days__day {
    padding: 8px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
    border-radius: 9999px;

    &--hasActive {
      background-color: #e1f5fe;
      color: #3f51b5;

      &:hover {
        background-color: #b3e5fc;
      }
    }
  }

  &__navigation button.react-calendar__navigation__label {
    font-size: 18px;
    border-radius: 10px;
    flex-grow: 1 !important;
    padding: 10px;
    &:hover {
      background: rgba(200, 200, 200, 0.2);
      .dark & {
        background: hsl(240, 11%, 20%);
      }
    }
    &:active {
      background: rgba(200, 200, 200, 0.4);
      .dark & {
        background: hsl(240, 11%, 25%);
      }
    }
  }

  &__navigation button.react-calendar__navigation__arrow {
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    &:hover {
      background: rgba(200, 200, 200, 0.2);
      .dark & {
        background: hsl(240, 11%, 20%);
      }
    }
    &:active {
      background: rgba(200, 200, 200, 0.4);
      .dark & {
        background: hsl(240, 11%, 25%);
      }
    }
  }

  &__navigation button.react-calendar__navigation__arrow--prev svg {
    transform: rotate(180deg);
  }
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none !important;
}

.react-calendar__navigation {
  display: flex !important;
  align-items: center;
}

.react-calendar__year-view .react-calendar__tile--range,
.react-calendar__decade-view .react-calendar__tile--range,
.react-calendar__century-view .react-calendar__tile--range {
  padding: 10px;
  border-radius: 5px;
  &:hover {
    background: rgba(200, 200, 200, 0.2);
    .dark & {
      background: hsl(240, 11%, 20%);
    }
  }
  &:active {
    background: rgba(200, 200, 200, 0.4);
    .dark & {
      background: hsl(240, 11%, 25%);
    }
  }
}

table {
  border-spacing: 0px !important;
  border: none !important;
}
