/* fallback */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/sandbox/materialsymbolsrounded/v7/sykO-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUe2jjwjHK-P3zukXX.woff2)
    format("woff2");
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  font-weight: 600;
}
html:not(.prevent-scroll),
body:not(.prevent-scroll) {
  scroll-behavior: smooth;
  overflow-y: scroll !important;
}
.prevent-scroll {
  overflow: hidden !important;
}
img {
  user-select: none;
}
*:not(.MuiIcon-root, .MuiIcon-root
    *, .material-symbols-outlined, .material-symbols-rounded, .material-symbols-outlined) {
  font-family: "Outfit", sans-serif !important;
}
::-webkit-scrollbar {
  display: none;
}

.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.2) !important;
}

@supports (backdrop-filter: blur(20px)) {
  .MuiBackdrop-root {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
.atom-overlay {
  z-index: 9999999999 !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(10px);
}
.atom-suggestion {
  border: 0 !important;
  border-radius: 15px;
}
.atom-suggestionsContainerOpen {
  border: 0 !important;
}
.atom-input {
  border-radius: 15px !important;
  border: 0 !important;
  width: 100% !important;
  padding: 13px 15px !important;
}
.atom-content {
  box-shadow: 0 !important;
}
.atom-modal {
  border-radius: 28px !important;
  box-shadow: 0 !important;
  padding: 15px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
  max-width: 100vw !important;
  animation: atom-modal 0.4s forwards !important;
}

@keyframes atom-modal {
  0% {
    margin-bottom: -500px;
  }
}

@media only screen and (max-width: 900px) {
  .atom-modal {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: fixed !important;
    top: auto !important;
    max-height: 80vh !important;
    bottom: 0 !important;
  }
}

@media only screen and (min-width: 900px) {
  .atom-modal {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
.MuiIconButton-root:active .material-symbols-rounded {
  transform: scale(0.9);
}
.MuiIconButton-root:not(:active) .material-symbols-rounded {
  transition: transform 0.2s;
}
.MuiDrawer-paper *,
.MuiBackdrop-root {
  overscroll-behavior: none !important;
}

.MuiIconButton-root .MuiTouchRipple-rippleVisible {
  animation-duration: 0.2s !important;
}

.atom-shortcut {
  float: right;
  margin-right: 2px;
  padding: 1px 8px;
  line-height: 2;
  font-size: 13px;
  transform: scale(0.9);
  margin-top: -0.375em;
  font-family: inherit;
  border-radius: 10px;
  color: #fff;
  background-color: #4d78cc;
}

#searchTrigger {
  display: none;
}
