body {
  overflow-x: hidden;
  font-weight: 600;
}
/* html:not(.prevent-scroll),
body:not(.prevent-scroll) {
  scroll-behavior: smooth;
  overflow-y: scroll !important;
} */
/* .prevent-scroll {
  overflow: hidden !important;
} */
img {
  user-select: none;
}
*:not(.MuiIcon-root, .MuiIcon-root
    *, .material-symbols-outlined, .material-symbols-rounded, .material-symbols-outlined) {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Kantumruy Pro", sans-serif !important;
}
::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.2) !important;
}
.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
@supports (backdrop-filter: blur(15px)) {
  .MuiBackdrop-root {
    backdrop-filter: blur(15px);
    background-color: var(--theme) !important;
  }
}

.atom-overlay {
  z-index: 9999999999 !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(10px);
}
.atom-suggestion {
  border: 0 !important;
  background: #c4b5b5 !important;
  color: #232323 !important;
  border-radius: 15px;
}
.atom-suggestionHighlighted {
  background: #c0adad !important;
}
.atom-suggestionsContainerOpen {
  border: 0 !important;
}
.atom-input {
  border-radius: 15px !important;
  border: 0 !important;
  width: 100% !important;
  background: #b39e9e !important;
  color: #232323 !important;
  padding: 13px 15px !important;
}
.atom-content {
  box-shadow: 0 !important;
}
.atom-modal {
  border-radius: 28px !important;
  background: #c4b5b5 !important;
  box-shadow: 0 !important;
  padding: 15px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15) !important;
  max-width: 100vw !important;
  animation: atom-modal 0.4s forwards !important;
}

@keyframes atom-modal {
  0% {
    margin-bottom: -500px;
  }
}

@media only screen and (max-width: 900px) {
  .atom-modal {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: fixed !important;
    top: auto !important;
    max-height: 80vh !important;
    bottom: 0 !important;
  }
}

@media only screen and (min-width: 900px) {
  .atom-modal {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
.MuiIconButton-root:active .material-symbols-rounded {
  transform: scale(0.9);
}
.MuiIconButton-root:not(:active) .material-symbols-rounded {
  transition: transform 0.2s;
}
.MuiDrawer-paper *,
.MuiBackdrop-root {
  overscroll-behavior: none !important;
}

.MuiIconButton-root .MuiTouchRipple-rippleVisible {
  animation-duration: 0.2s !important;
}

* {
  scrollbar-width: none;
}

.MuiListSubheader-root {
  background: transparent !important;
  position: unset !important;
}

.puller {
  width: 60px;
  margin-top: 14px;
  margin-bottom: 14px;
  height: 7px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.puller-side {
  height: 60px;
  width: 7px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -18px;
  border-radius: 10px;
  transform: translateY(-50%);
}
.MuiDialogActions-spacing {
  background-color: transparent !important;
}
.animateIcon {
  animation: starScale 0.5s forwards;
  transform: scale(0);
  animation-delay: 0.1s;
}

@keyframes starScale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
::selection {
  background: var(--theme);
  color: gray;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
}
