@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: calc(70px + env(titlebar-area-height, 0px));
}

@layer components {
  .kbd {
    @apply mr-1.5 select-none rounded-xl bg-gray-200 px-2 py-1 text-sm font-semibold dark:bg-gray-800;
  }
}

a,
img {
  -webkit-user-drag: none;
}

.overflow-hidden {
  overflow: hidden !important;
}

.MuiToolbar-root {
  height: var(--navbar-height);
}

.MuiTypography-h6:not(.font-heading),
.MuiTypography-h5:not(.font-heading),
.MuiTypography-h4:not(.font-heading) {
  font-weight: 600 !important;
}

.noDrag {
  &,
  & * {
    -webkit-app-region: no-drag;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-display: block !important;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  min-width: fit-content;
  font-variation-settings: "FILL" 0, "wght" 350, "GRAD" 0, "opsz" 40;
}

.material-symbols-rounded {
  font-display: block !important;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 40;
  min-width: fit-content;
}

img {
  user-select: none;
  user-drag: none;
}

:not(.font-heading, .font-heading *):not(.MuiIcon-root):not(
    .material-symbols-outlined
  ):not(.outlined):not(.material-symbols-rounded) {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "DM Sans", sans-serif !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.font-heading,
.font-heading * {
  font-family: "DM Serif Display", serif !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0px;
  background: transparent;
}

.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
}

.MuiTouchRipple-child {
  filter: opacity(0.3) !important;
  background: hsl(240, 11%, 10%);
}

.rippleDark .MuiTouchRipple-child,
.dark .MuiTouchRipple-child {
  background: #fff !important;
}

.MuiBackdrop-root:not(.override-bg) {
  -webkit-app-region: no-drag;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

@supports (backdrop-filter: blur(2px)) {
  .MuiBackdrop-root:not(.override-bg) {
    backdrop-filter: blur(3px);
    background-color: var(--backdropTheme) !important;
  }
}

.MuiIconButton-root .MuiTouchRipple-rippleVisible {
  animation-duration: 0.5s !important;
}

.MuiListSubheader-root {
  background: transparent !important;
  backdrop-filter: blur(10px);
}

.MuiDialogActions-spacing {
  background-color: transparent !important;
}

::selection {
  color: #fff;
  background: #000;
}

.dark ::selection {
  background: #fff;
  color: #000;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}
@media (prefers-color-scheme: dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
  }
}
