@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .kbd {
    @apply bg-gray-300 px-2 font-semibold py-1 text-sm mr-1.5 rounded-xl select-none;
  }
  .room-button {
    @apply mb-1 sm:mb-0.5 transition-transform active:scale-[.98] duration-75 rounded-2xl;
  }
}

body {
  overflow-x: hidden;
  font-weight: 600;
  margin: 0;
}

.material-symbols-outlined {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 40;
}

img {
  user-select: none;
}
*:not(
    .MuiIcon-root,
    .MuiIcon-root *,
    .material-symbols-outlined,
    .material-symbols-rounded,
    .material-symbols-outlined,
    .font-secondary
  ) {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Zen Kaku Gothic New", sans-serif !important;
}
.font-secondary,
.font-secondary
  *:not(
    .MuiIcon-root,
    .MuiIcon-root *,
    .material-symbols-outlined,
    .material-symbols-rounded,
    .material-symbols-outlined
  ) {
  font-family: "Space Grotesk", sans-serif !important;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}
.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
  // animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.3) !important;
  background: radial-gradient(#000, #000);
}
.rippleDark .MuiTouchRipple-child,
.dark .MuiTouchRipple-child {
  background: radial-gradient(#fff, #000) !important;
}
.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
@supports (backdrop-filter: blur(2px)) {
  .MuiBackdrop-root:not(.override-bg) {
    backdrop-filter: blur(2px);
    background-color: var(--backdropTheme) !important;
  }
}
.MuiIconButton-root {
  transform: scale(1) !important;
}
.MuiIconButton-root:active .material-symbols-rounded,
.MuiIconButton-root:active .material-symbols-outlined {
  transform: scale(1);
  opacity: 0.6;
}
.MuiIconButton-root:not(:active) .material-symbols-rounded,
.MuiIconButton-root:not(:active) .material-symbols-outlined {
  transition: transform 0.2s, opacity 0.2s;
}

.MuiIconButton-root .MuiTouchRipple-rippleVisible {
  animation-duration: 0.5s !important;
}

* {
  scrollbar-width: none;
}

.MuiListSubheader-root {
  background: transparent !important;
  position: unset !important;
}

.MuiDialogActions-spacing {
  background-color: transparent !important;
}

::selection {
  color: #fff;
  background-color: #000;
  background: var(--themeDark);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
}

.auth-code-input {
  padding: 10px;
  width: 45px;
  height: 45px;
  outline: none;
  border-radius: 10px;
  border: 0;
  background: rgba(200, 200, 200, 0.3);
  color: #000;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .auth-code-input {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}

.auth-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

@keyframes dateIntro {
  0% {
    opacity: 0;
    transform: scale(1.5);
    transform-origin: center center;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }
}
