:root {
  --gray1: hsl(0, 0%, 99%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);

  --grayA1: hsla(0, 0%, 0%, 0.012);
  --grayA3: hsla(0, 0%, 0%, 0.047);
  --grayA11: hsla(0, 0%, 0%, 0.565);
}

.dark {
  --gray1: hsl(0, 0%, 8.5%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93%);

  --grayA1: hsla(0, 0%, 100%, 0);
  --grayA2: hsla(0, 0%, 100%, 0.026);
  --grayA3: hsla(0, 0%, 100%, 0.056);
  --grayA11: hsla(0, 0%, 100%, 0.592);
}

.carbon {
  [cmdk-root] {
    width: 100%;
    padding: 18px;
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
    overflow: hidden;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    transition: transform 100ms ease;

    .dark & {
      background: hsl(240, 11%, 20%);
    }
  }

  [cmdk-input] {
    border: none;
    width: 100%;
    font-size: 17px;
    margin-top: -40px;
    padding: 8px 8px 16px 8px;
    outline: none;
    background: var(--bg);
    color: var(--gray12);
    border-radius: 0;

    &::placeholder {
      color: var(--gray9);
    }
  }

  .cmdk-carbon-badge {
    height: 20px;
    background: var(--grayA3);
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    color: var(--grayA11);
    border-radius: 4px;
    margin: 4px 0 4px 4px;
    user-select: none;
    text-transform: capitalize;
    font-weight: 500;
  }

  [cmdk-item] {
    content-visibility: auto;
    cursor: pointer;
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    color: var(--gray11);
    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;

    & .cmdk-carbon-shortcuts {
      display: flex;
      margin-left: auto;
      gap: 8px;
    }

    kbd {
      font-size: 12px;
      min-width: 20px;
      padding: 4px;
      height: 20px;
      border-radius: 4px;
      color: var(--gray11);
      background: rgba(22, 22, 22, 0.1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }

    & .material-symbols-outlined {
      order: -1;
    }

    &[aria-selected="true"] {
      background: var(--backdropTheme);
      color: var(--themeDark);
    }

    &[aria-disabled="true"] {
      color: var(--gray8);
      cursor: not-allowed;
    }

    &:active {
      transition-property: background;
      background: var(--gray4);
    }

    & + [cmdk-item] {
      margin-top: 4px;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  [cmdk-list] {
    height: min(330px, calc(var(--cmdk-list-height)));
    max-height: 90vh;
    overflow: auto;
    overscroll-behavior: contain;
    transition: 100ms ease;
    transition-property: height;
  }

  [cmdk-separator] {
    height: 1px;
    width: 100%;
    background: var(--gray5);
    margin: 4px 0;
  }

  *:not([hidden]) + [cmdk-group] {
    margin-top: 8px;
  }

  [cmdk-group-heading] {
    user-select: none;
    font-size: 12px;
    color: var(--gray11);
    padding: 0 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  [cmdk-empty] {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    color: var(--gray11);
  }
}
