.mantine-Spotlight-spotlight {
  border-radius: 15px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.mantine-Spotlight-action {
  border-radius: 15px;
}

.mantine-Spotlight-root .mantine-Spotlight-actions {
  border: none !important;
}

.mantine-Input-wrapper {
  padding: 10px;
}
.mantine-Input-wrapper input {
  background: rgba(200, 200, 200, 0.3) !important;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: none;
}

.mantine-Input-icon {
  padding-left: 15px;
}
.mantine-UnstyledButton-root {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 12px;
  border-radius: 15px;
}
.mantine-Input-wrapper:focus-within input {
  border-color: #ddd;
  background: #fff !important;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.02))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.05));
}
.dark .mantine-Input-wrapper input {
  color: #fff;
  background: hsl(240, 11%, 20%) !important;
  &:focus {
    background: hsl(240, 11%, 10%) !important;
    border-color: hsl(240, 11%, 25%);
  }
}

.mantine-Spotlight-root {
  margin: 10px;
}

.mantine-Spotlight-spotlight {
  width: 500px;
  max-width: 100vw;
}

.dark .mantine-Spotlight-spotlight {
  background: hsl(240, 11%, 15%);
}

.dark .mantine-UnstyledButton-root {
  color: hsl(240, 11%, 90%);
  &:hover {
    background: hsl(240, 11%, 20%);
    color: #fff;
  }
}
